.content-container {
  margin: 5px;
  margin-top: 20px;

  .card {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgba(200, 200, 200, 0.2);
  }

  .list {
    padding: 0;

    .issue {
      padding: 10px 20px;
    }
  }
}
