.auth-container{
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(200, 200, 200, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}